*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: hsl(235, 78%, 35%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container input:nth-child(1){
    padding: 20px 30px;
    background-color: #fff;
    color: black;
    border-radius: 10px;
    font-size: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.popup{
    width: 400px;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.pop-up{
    visibility:visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);

}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.popup h2{
    font-size: 38px;
    font-family: 500;
    margin: 30px 0 10px;
}
.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #fff;
    border: 0;
    outline: 0;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    background: rgb(150, 255, 79);
}